Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-Compress==1.14
python-dotenv==1.0.0
PyJWT==2.8.0
pandas==2.1.4
gunicorn==21.2.0
requests==2.31.0
SQLAlchemy==2.0.23
Werkzeug==3.0.1
psycopg2-binary==2.9.9
ta==0.11.0
matplotlib==3.7.1
mplfinance==0.12.10b0
yfinance==0.2.32
